@keyframes scroll-progress {
  0% {
    transform: scaleX(0);
  }
}

.scroll-progress {
  display: none;
  @media (prefers-reduced-motion: no-preference) {
    display: block;
    animation: scroll-progress 2s linear;
    animation-timeline: scroll();
  }
}
