@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gly";
  src: url("./assets/fonts/Glysa-Medium.woff") format("woff");
  src: url("./assets/fonts/Glysa-Medium.woff2") format("woff2");
  display: fallback;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
